.App .black-nav {
  display: flex;
  background: black;
  color: white;
  padding-left: 20px;
}

.App div {
  box-sizing: border-box;
}

.App .list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}