.container {
  width: 1200px;
}

.box1 {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}

.box1 > a {
  margin-right: 50px;
  text-decoration: none;
  color: black;
}

.box1 > a:nth-of-type(1){
  color: #ff8a3d;
}

.box1 > img {
  margin-right: 50px;
}

.box1 > input {
  margin-right: 10px;
}

[type="text"] {
  width: 200px;
  height: 30px;
}

[type="submit"] {
  height: 40px;
}

.box2 {
  width: 100vw;
  height: 700px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background: wheat;
}

.box3 {
  width: 100vw;
  height: 700px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

menu > a {
  background: whitesmoke;
  text-decoration: none;
  color: black;
  font: bold;
  margin-right: 10px;
  font-size: 20px;
  padding: 10px;
}

.box4 {
  width: 100vw;
  height: 500px;
  border-bottom: 1px solid;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

item1 {
  display: flex;
  flex-direction: column;
}

item2 {
  display: flex;
  flex-direction: column;
}

item3 {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  justify-content: center;
}

a2 {
  text-decoration: none;
  color: black;
  margin-top: 30px;
  margin-right: 30px;
}

m > a {
  background: whitesmoke;
  text-decoration: none;
  color: black;
  font: bold;
  margin-right: 10px;
  font-size: 20px;
  padding: 10px;
}


