body {
  background: yellow;
  height: 100vh;
  display: flex;
  justify-content: center; /* 가로 정렬 */
  align-items: center; /* 세로 정렬 */
}

.box1 {
  background: white;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  background: skyblue;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}