body {
  height: 5000px;
}

img {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

h1 {
  background: skyblue;
  opacity: 0.8;
  position: sticky;
  top: 0;
  z-index: 10;
}

div {
  width: 200px;
  height: 200px;
  position: absolute;
}

.first {
  background: red;
  top: 20px;
  left: 20px;
  z-index: 5;
}

.second {
  background: skyblue;
  top: 40px;
  left: 40px;
  z-index: 3;
}

.third {
  background: pink;
  top: 60px;
  left: 60px;
  
}
