* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 700px;
  height: 100%;
  background: white;
  padding: 50px;
}

.logo {
  text-align: center;
}

.top-inputs input {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
}

.submit {
  background-color: #03c75a;
  border: 0px;
  color: white;
}

.chk-left {
  float: left;
}

.chk-right {
  float: right;
}

.chk-wrapper {
  height: 40px;
  border-bottom: 1px solid black;
}

.wrapper {
  margin-top: 60px;
  text-align: center;
}

.btn-login a {
  border: 1px solid #03c75a;
  display: inline-block;
  width: 48%;
  height: 60px;
  background: white;
  text-decoration: none;
  color: black;
  line-height: 60px;
  margin-top: 15px;
}

.btn-login a:hover {
  background: #03c75a;
  color: white;
}

.search {
  margin-top: 50px;
  text-align: center;
}

.search a {
  text-decoration: none;
  color: black;
  padding: 0 30px;
}

.footer {
  margin-top: 50px;
  text-align: center;
}

.footer img {
  width: 100px;
}














  


